.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  padding: 64px 128px;
}
.section-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.movie-grid {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}
