.dropdown-button {
  position: relative;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  transition: color 0.2s ease, border-color 0.2s ease;
}
.dropdown-button-active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.dropdown-button-content {
  display: flex;
  align-items: center;
  gap: 8px;
}
.dropdown-button-icon {
  height: 20px;
  width: 20px;
}
.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  padding: 4px;
  border-radius: 16px;
  box-shadow: 0px 8px 8px 0px hsla(0, 0%, 0%, 0.2);
  overflow: auto;
  z-index: 1;
}
.dropdown-menu button {
  /* padding: 0px 0px; */
  text-align: left;
  background-color: transparent;
  border: none;
  border-radius: 0px;
}
.dropdown-menu button:hover {
  color: var(--primary-color);
}
