.cast-card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 8px 0 hsla(210, 3%, 14%, 0.1);
  overflow: hidden;
}
.profile {
  width: 100%;
  aspect-ratio: 2/3;
}
.profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4px;
  padding: 16px;
  word-wrap: break-word;
  overflow: hidden;
}
.name {
 font-weight: var(--fw-medium); 
}
