.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  padding: 64px 128px;
}
.movie-grid {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px 16px;
}
